/* Navbar */

nav {
  color: #eee;
}

nav .navbar-brand {
  width: 180px;
}

.navbar-nav .nav-item {
  margin: 0 20px;
}

.navbar-nav .nav-item:hover {
  color: #55acee !important;
}


/* Slider */

/* header .carousel-item img {
  height: 800px;
} */

header .carousel-caption {
  top: 35%;
  position: absolute;
}

header .carousel-caption small {
  color: rgb(31, 221, 255);
}

header .carousel-caption small {
  font-size: 22px;
  display: block;
}

header .carousel-caption h3 {
  font-size: 45px;
}

header .carousel-caption p {
  font-size: 25px;
}

header .carousel-item:before {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.37);
}

@media (max-width: 992px) {
  header .carousel-caption {
    top: 30%;
    position: absolute;
  }

  header .carousel-caption small {
    color: rgb(31, 221, 255);
  }

  header .carousel-caption small {
    font-size: 16px;
    display: block;
  }

  header .carousel-caption h3 {
    font-size: 25px;
  }

  header .carousel-caption p {
    font-size: 20px;
  }
}

@media(max-width:375px) {
  header .carousel-caption {
    top: 5%;
    position: absolute;
  }

  header .carousel-caption small {
    color: rgb(31, 221, 255);
  }

  header .carousel-caption small {
    font-size: 16px;
    display: block;
  }

  header .carousel-caption h3 {
    font-size: 18px;
  }

  header .carousel-caption p {
    font-size: 16px;
  }
}

/* footer */
ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
}

.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

.container h5 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 30px;
}

.container p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem

  /* 477px */
) {
  .ft-main {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 77.5rem

  /* 1240px */
) {
  .ft-main {
    justify-content: space-evenly;
  }
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}

input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}

input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

input[type="submit"]:hover {
  background-color: rgb(236, 68, 68);
  transition: all 0.5s;
}

/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list li:hover>.socialmedia a:hover>.fa-twitter {
  color: #55acee;
  background: black;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}

.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}

/* card */

.card {
  margin-bottom: 30px;
  cursor: pointer;
  overflow: hidden;
}

.card .img-card1 {
  overflow: hidden;
}

.card:hover img {
  transition: all 0.3s;
  transform: scale(1.15);
}

.card1 {
  margin: 70px 0 60px 0;
}

.container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  margin-bottom: 50px;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  color: rgb(59,
      29,
      0);
}

/* Page Sign Up */